body{
    padding: 0%;
    margin: 0%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(37, 37, 37);
}





.header{

    height: 3vh;
    width: 100%;

    background-color: rgb(32, 28, 28);
    
    display: flex; 
    justify-content: space-between; 
    align-items: center;

}

.MerryMaker{
    color: #ff3b30;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 2vh;
}


.canvas-container {
    height: 70vh;
    width: 55vh;
    margin: 0px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.canvas-item{
    position: absolute;
    cursor: move;
    display: inline-block;
    padding: 10px;
}


.toolbar{
    height: 9vh;
    width: 100%;

    background-color: rgb(22, 22, 22);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}



.toolbar button{
    background: none;
    border: none;

    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vh;

    margin-left: 6vh;
    margin-right: 6vh;

}

.text_editor{
    height: 9vh;
    width: 100%;

    background-color: rgb(22, 22, 22);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.Font_Style{
    height: 3vh;
    width: 20vh;

    color: rgb(255, 255, 255);
    background-color: rgb(19, 17, 17);
    text-align: center;

    border-radius: 5vh;
}

.Color_Picker{
    height: 4vh;
    width: 4vh;

    color: rgb(255, 255, 255);
    background-color: rgb(19, 17, 17);

    border-radius: 50%;
    margin-left: 2vh;
    border: none;
}
.Color_Picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%; /* Makes the color itself round */
}

.b{
    margin-left: 5vh;
    padding-left: 3vh;
    padding: 1vh;
}
.toggle{
    margin-left: 1vh;
    margin-right: 1vh;
    padding: 1vh;
    border-radius: 20%;

    background: none;
    outline: none;
    border-color: transparent;

    color: #00ccff;
    font-size: 3vh;
}



.add_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_icon{
    font-size: 3vh;
    border: none;
}

.button_text{
    margin: 0%;
}

.canvas-container {
    /* Existing styles... */
    position: relative;
}